*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
}

body{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,
     #0a0a0a, #dc9a9a);
}

.calculator{
    border: 1px solid #717377;
    border-radius: 16px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119, 0.5);
    /* margin-top: 100px; */
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    font-size: 40px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84 84 84 0.1);
    text-align: right;
    margin: 10px;
    cursor: pointer;
    color: white;
}

input::placeholder{
    color: white;
}

button{
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    background: transparent;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, .1);
    cursor: pointer;

}


button:hover{
     box-shadow: transparent;
     color: white;
     box-shadow: none;
}

.special{
    color: yellow;
}
